@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body, html {
    width: 100%;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    width: 200px;
  }
  
  .qr-code-img {
    border-radius: 10px;
    width: 200px;
    height: auto;
    align-items: center;
    position: relative;
    /*I had a huge problem with this image and its centering.
    For way to long I could not get it to center. It wasn't until 
    I realized that my text was pushing it to the side that I didn't 
    throw my laptop out the window. */
    
  }
  
  .text-1 {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    position: relative;
    margin: 0;
  }

  .text-2 {
    font-size: 10px;
    font-family: 'Outfit', sans-serif;
    color: hsl(216, 15%, 48%);
    text-align: center;
    position: relative;
    margin: 0;
    /*I am not really sure if I made this the efficient way but
    it is centered so I went with it. */
  }

  /*If it wasn't for google and chat GPT I would have given up.*/